---
import ExprienceItem from '@/components/Experience/ExprienceItem.astro';

const EXPERIENCES = [
  {
    date: '2023 - 2023',
    title: 'Desarrollador Full-Stack',
    company: 'Saintnet Latinoamérica',
    description:
      'Principal desarrollador de un proyecto web en React, donde implementé una interfaz de usuario intuitiva y adaptable a distintos dispositivos. Además, participé en la creación de una Librería de Componentes de React, lideré el desarrollo de una API Rest robusta con Node y Express, y contribuí a la optimización de una base de datos en SQL Server.',
  },
];
---

<ol class='relative mt-16'>
  {
    EXPERIENCES.map((experience) => (
      <li>
        <ExprienceItem {...experience} />
      </li>
    ))
  }
</ol>
